h2 {
  display: flex;
  margin: 0.2rem;
  align-self: center;
}

h3 {
  display: flex;
  margin: 0.2rem;
  font-size: 1.5rem;
}

.post {
  flex: 0;
  align-self: stretch;
  margin: 0.25rem;
  background-color: #3D5A80;
  color: #98c1D9;
}

.info{
  margin: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.media-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.media {
  display: flex;
  flex-grow: 1;
  align-self: center;
}

.upvotes {
  display: flex;
  align-self: flex-start;
}

.title {
  margin: 0.25rem;
  display: flex;
  align-self: flex-start;
}

.comments {
  display: flex;
  margin: 0.25rem;
  align-self: flex-end;
}


.redditFeed {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 65%;
  color: #E0FBFC;
}
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .redditFeed {
      width: 90%;
      margin-bottom: 2rem;
    }
  }