  html {
    margin: 0;
  }
  
  .Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: #98C1D9;
    width: 100%;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }


  h1 {
    color: #EE6C4D;
    background-color: #98C1D9;
    padding: 0;
    margin: 0;
    align-self: flex-end;
  }
  
  .SearchBar {
    align-self: flex-end;
  }

  .SearchBar input {
    width: auto;
    color: #293241;
    text-align: center;
    font-size: 1rem;
  }
  
  .SearchBar input:focus {
    outline: none;
  }
  
  .SearchButton {
    cursor: pointer;
    background-color: #E0FBFC;
    text-align: center;
    font-size: 1rem;
    transition: .25s;
    color: #293241;
    font-weight: 500;
  }
  
  .SearchButton:hover {
    background-color: #EE6C4D;
  }

